# Dependencies
node_modules/
package-lock.json

# Build files
www/
dist/
.angular/

# IDE
.vscode/
.idea/

# Environment variables
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Capacitor
android/
ios/
.capacitor/

# Logs
*.log
npm-debug.log*
